<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="clientTest" parallel="classes" thread-count="5"
	data-provider-thread-count="20">
	<test name="${envName}" parallel="methods" thread-count="5">
		<parameter name="envName" value="${envName}"></parameter>
		<classes>
			<class
				name="com.fastjrun.share.giz_openapi_apps.sdk.client.UserManagerClientTest">
				<methods>
					<include name="login" />
					<include name="request_token" />
				</methods>
			</class>
			<class
				name="com.fastjrun.share.giz_openapi_apps.sdk.client.GeneralClient">
				<methods>
					<include name="errors" />
				</methods>
			</class>
		</classes>
	</test>
</suite>